{{ define "main" }}
<ul class="list-reset" role="main">
  {{ range .Paginator.Pages }}
    <li>
        <div class="
          flex items-center justify-between
          border-b
          my-4 lg:p-4 sm:p-2"
        >
          <div>
              <p class="text-sm">
                {{ if .Params.tags }}
                  {{ range .Params.tags }}
                    <a class="lg:text-sm sm:text-xs text-indigo-dark font-bold mr-1" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                {{ end }}
              </p>
              <a href="{{ .Permalink }}">
                <h2 class="lg:text-2xl sm:text-lg" style="word-break: keep-all;">{{ .Title }}</h2>
                <p class="lg:text-sm sm:text-xs text-grey-darker">{{ .Params.description }}</p>
              </a>
          </div>
          <div class="text-grey-darker lg:block md:hidden">
            <p class="lg:text-sm sm:text-xs">
              <span>{{ .Date.Format "Jan 2, 2006" }}</span>
              <span class="block">{{ .ReadingTime }} min read</span>
            </p>
          </div>
        </div>
    </li>
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ end }}
